*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    position: absolute;
    top:50%;
    left: 50%; 
    transform: translate(-50%,-50%);
    background-color: hsl(0, 0%, 94%);
}
h2{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.main-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:20px;
    margin-top: 20px;
    cursor: pointer;
}
.card{
    width: 350px;
    height: 450px;
    border-radius: 20px;
    border: none;
    position: relative;
box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    transition: all 1.2s ease-in-out;
    filter:brightness(90%)
}
img:hover{
    scale: 1.2;
}
.card-container-1,.card-container-2,.card-container-3{
    width: 350px;
    height: 450px;
    position: relative;
    overflow: hidden;
    transition: all 1.2s linear;
}
.content-card1,.content-card2,.content-card3{
        transition: all 1.2s linear;

}
.card-container-1::after{
    content: "Content-1";
    position: absolute;
    color:#fff;
    top:-12%;
    left:30%;
    font-size: 32px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: all 1.2s linear;
}
.card-container-1:hover::after{
        top:12%; 
}
.card-container-1:hover .content-card1::after{
    content: "Web security protects user data through encryption and authentication. Good design combines aesthetics with security practices, ensuring safe user experiences while maintaining visual.";
    position: absolute;
    color:#fff;
    background-color: rgba(0,0,0,.8);
    top:90%;
    left:5;
    height:128px;
    text-align: center;
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: all 1.2s linear;
    padding: 12px;
}
.card-container-1:hover .content-card1::after{
    top:74%;
}

.card-container-2::after{
    content: "Content-2";
    position: absolute;
    color:#fff;
    top:-12%;
    left:30%;
    font-size: 32px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: all 1.2s linear;
}
.card-container-2:hover::after{
        top:12%; 
}
.card-container-2:hover .content-card2::after{
    content: "Web security protects user data through encryption and authentication. Good design combines aesthetics with security practices, ensuring safe user experiences while maintaining visual.";
    position: absolute;
    color:#fff;
    background-color: rgba(0,0,0,.8);
    top:90%;
    left:5;
    height:128px;
    text-align: center;
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: all 1.2s linear;
    padding: 12px;
}
.card-container-2:hover .content-card2::after{
    top:74%;
}

.card-container-3::after{
    content: "Content-3";
    position: absolute;
    color:#fff;
    top:-12%;
    left:30%;
    font-size: 32px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: all 1.2s linear;
}
.card-container-3:hover::after{
        top:12%; 
}
.card-container-3:hover .content-card3::after{
    content: "Web security protects user data through encryption and authentication. Good design combines aesthetics with security practices, ensuring safe user experiences while maintaining visual.";
    position: absolute;
    color:#fff;
    background-color: rgba(0,0,0,.8);
    top:90%;
    left:5;
    height:128px;
    text-align: center;
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: all 1.2s linear;
    padding: 12px;
}
.card-container-3:hover .content-card3::after{
    top:74%;
}